<% function renderComment(comment) {%>
<div class="comment" id="<%=comment.id%>">
  <div class="comment-user pt-sans-caption-regular">
    <div class="comment-user-name">@ <%=comment.user && comment.user.username%></div>
    <div class="comment-user-name"> <%=comment.createdAt%></div>
  </div>

  <div class="comment-content">
    <h2 class="comment-text pt-sans-caption-bold"><%=comment.text%></h2>
  </div>

  <div class="comment-interactions pt-sans-caption-regular">
    <div class="comment-user-icon-reply">Reply</div>
    <div class="comment-user-icon-show <%=comment.children && comment.children.length%>">Hide replies</div>
  </div>

  <%- include('./forms/replyForm.ejs', {comment: comment}); %>
  <div class="replies">
    <% if(comment.children){%>
      <% comment.children.forEach((nestedComment)=>{%><%
      renderComment(nestedComment) %> <%});%>
      <%}%>
  </div>
  </div>
  <% };%>

  <div class="comments">
    <% comments.forEach((comment)=>{%>
      <% if(!comment.parentId){%> 
    <div class="comment" id="<%=comment.id%>">
      <div class="comment-user pt-sans-caption-regular">
        <div class="comment-user-name">@ <%=comment.user && comment.user.username%></div>
        <div class="comment-user-name"> <%=comment.createdAt%></div>
      </div>
  
      <div class="comment-content">
        <h2 class="comment-text pt-sans-caption-bold"><%=comment.text%></h2>
      </div>
  
      <div class="comment-interactions pt-sans-caption-regular">
        <div class="comment-user-icon-reply">Reply</div>
        <div class="comment-user-icon-show <%=comment.children && comment.children.length%>">Hide replies</div>
      </div>

      <%- include('./forms/replyForm.ejs', {comment: comment}); %>

      <div class="replies">
        <% if(comment.children){%>
          <% comment.children.forEach((nestedComment)=>{%><%
          renderComment(nestedComment) %> <%});%>
          <%}%>
      </div>
    </div>

    <%}%>
    <%});%>
  </div>
  </div>
</div>


<script>
  document.querySelectorAll('.comment-user-icon-reply').forEach((element) => {
    element.addEventListener('click', (event) => {
      element.textContent = (element.textContent === 'Reply') ? 'Cancel' : 'Reply';
      const commentId = event.target.parentElement.parentElement.id;
      const comment = document.getElementById(commentId);
      const form = comment.querySelector('.form-reply');
      form.classList.toggle('none');
    });
  });

  document.querySelectorAll('.comment-user-icon-show').forEach((element) => {
    <!-- Check replies count -->
    if(element.parentElement.parentElement.querySelector('.replies').children.length === 0){
      element.style.display = 'none';
    }

    element.addEventListener('click', (event) => {
      const contentText = element.classList[1] === '1' ? `${element.classList[1]} Reply` : `${element.classList[1]} Replies`;
      element.textContent = (element.textContent === contentText) ? 'Hide Replies' : contentText;
      const commentId = event.target.parentElement.parentElement.id;
      const comment = document.getElementById(commentId);
      const replies = comment.querySelector('.replies');
      replies.classList.toggle('none');
    });
  });
  
  const elementId = "<%=replied%>";
  if(elementId){
    const element = document.getElementById(elementId);
    const offset = 100; // Adjust the offset as needed
    const bodyRect = document.body.getBoundingClientRect().top;
    const elementRect = element.getBoundingClientRect().top;
    const elementPosition = elementRect - bodyRect;
    const offsetPosition = elementPosition - offset;

    window.scrollTo({
        top: offsetPosition,
        behavior: "smooth"
    });
  }

</script>