<div class="posts">
  <% posts.forEach((post)=>{%>
  <div class="post">
    <div class="post-user">
      <div class="post-user-icon"></div>
      <div class="post-user-name">@<%=post.user.username%></div>
      <div class="post-time"><%=`${post.createdAt}`%></div>
    </div>

    <div class="post-content">
      <h2 class="post-title"><%=post.title%></h2>
      <p class="post-text"><%=post.text%></p>
    </div>

    <div class="post-interactions">
      <div class="post-user-icon">Upvote</div>
      <div class="post-user-icon">Downvote</div>
      <div class="post-user-icon">Star</div>
      <div class="post-user-icon">Share</div>
    </div>

    <form action="/api/post/<%=post.id%>" method="post">
      <textarea
        name="newComment"
        id="newComment"
        class="addCommentBox resize-ta"
      ></textarea>

      <div class="commentBoxOptions">
        <button class="commentBoxButton" type="submit">Comment</button>
      </div>
    </form>

    <script>
      // Dealing with Textarea Height
      function calcHeight(value) {
        let numberOfLineBreaks = (value.match(/\n/g) || []).length;
        // min-height + lines x line-height + padding + border
        let newHeight = 20 + numberOfLineBreaks * 20 + 12 + 2;
        return newHeight;
      }

      let textarea = document.querySelector(".resize-ta");
      textarea.addEventListener("keyup", () => {
        textarea.style.height = calcHeight(textarea.value) + "px";
      });
    </script>
  </div>

  <!-- Comments -->
  <%- include('./comments.ejs', {comments: comments}); %>
  <!-- End of Comments -->
  <%});%>
</div>
